<template name="home">
  <div class="jumbotron">
    <h2>participative<em>org</em></h2>
    <p>Enabling decentralized decision-making.</p>
    <!-- <p>Providing transparency amongst colleagues.</p> -->
  </div>
  <div id="home-nav" class="row">
    <span class="col-xs-12 col-sm-3">
      <a href="{{pathFor 'feedback'}}" class="btn btn-default btn-lg" role="button">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-refresh fa-stack-1x"></i>
        </span> Feedback
      </a>
    </span>
    <span class="col-xs-12 col-sm-3">
      <a href="{{pathFor 'slack'}}" class="btn btn-default btn-lg" role="button">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-flask fa-stack-1x"></i>
        </span> Slack
      </a>
    </span>
    <span class="col-xs-12 col-sm-3">
      <a href="#" class="btn btn-default btn-lg later-stamp" role="button" disabled>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-eur fa-stack-1x"></i>
        </span> Economics
      </a>
    </span>
    <span class="col-xs-12 col-sm-3">
      <a href="#" class="btn btn-default btn-lg maybe-stamp" role="button" disabled>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comments fa-stack-1x"></i>
        </span> Guidelines
      </a>
    </span>
  </div>
  <div id="participativeorg-definition" class="well secondary">
    <h4><em>What</em> is a participative organization?</h4>
    A participative organization values
    <ul>
      <li><strong>autonomy and group decisions</strong> more than top-down directives</li>
      <li><strong>empowerment</strong> more than control</li>
      <li><strong>responsiveness</strong> more than efficiency</li>
    </ul>

    This is why participative organizations are often structured as <strong>self-organizing knowledge networks</strong> rather than hierarchies. For this to work effectively organizations need to make all necessary information available to their empowered employees in order to enable <strong>decentralized decision-making</strong>.
  </div>
  <div class="well secondary">
    <h4><em>How</em> does participative<em>org</em> help?</h4>
    participative<em>org</em> aims to support organizations in being more participative by providing a platform for transparency about slack, peer ranking, economics and guidelines.
  </div>
</template>