@import 'variables';
@import 'mixins';

/* ===============================
    GLOBAL STYLES
   =============================== */

img {
  max-width: 100%;
}

.item {
  position: relative;
  padding: 10px;
  border-top: #e7e7e7 1px solid;
  &:hover {
    background-color: #f8f8f8;
  }
  .details {
    display: none;
  }
  .preview {
    display: inherit;
  }
  &.active {
    .details {
      display: inherit;
    }
    .preview {
      display: none;
    }
  }
  a.background-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  a {
    z-index: 2;
    position: relative;
    cursor: pointer;
  }
}

.tags {
  color: @light-grey;
  span {
    margin-right: 10px;
  }
}

input, button, select, textarea, form .input-group, .btn-group, a.btn {
  margin-top: 5px;
}

.input-group input {
  margin-top: 0;
}

h3, h4 {
  margin-top: 5px;
}

.dropdown-menu > li > a.coworker {
  padding-right: 45px;
}

.avatar {
  height: 25px;
  margin: -5px 0;
}

.message-box {
  font-weight: bold;
  .well {
    background-color: #EBB950;
  }
}

.label-white {
  background-color: white;
  color: @light-grey;
  border: @light-grey 1px solid;

  &[href]:hover {
    color: @dark-grey;
  }
}

// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}