/* ===============================
    LESS MIXINS
   =============================== */

.stamp(@content) {
  position:relative;

  &:after {
    .transform(rotate(-35deg));
    content: @content;
    position: absolute;
    top: 9px;
    left: 35px;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    color: #c00;
    background: #fff;
    border: solid 2px #c00;
    padding: 2px;
    border-radius: 5px;
    zoom: 1;
    opacity: 0.7;
    box-shadow: 0 0 2px #c00;
  }
}

// GRADIENTS

.verticalGradient(@topColor, @bottomColor) {
  background-image: -ms-linear-gradient(top, @topColor 0%, @bottomColor 100%);
  background-image: -moz-linear-gradient(top, @topColor 0%, @bottomColor 100%);
  background-image: -o-linear-gradient(top, @topColor 0%, @bottomColor 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @topColor), color-stop(1, @bottomColor));
  background-image: -webkit-linear-gradient(top, @topColor 0%, @bottomColor 100%);
  background-image: linear-gradient(to bottom, @topColor 0%, @bottomColor 100%);
}

.horizontalGradient(@leftColor, @rightColor) {
  background-image: -ms-linear-gradient(left, @leftColor 0%, @rightColor 100%);
  background-image: -moz-linear-gradient(left, @leftColor 0%, @rightColor 100%);
  background-image: -o-linear-gradient(left, @leftColor 0%, @rightColor 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, @leftColor), color-stop(1, @rightColor));
  background-image: -webkit-linear-gradient(left, @leftColor 0%, @rightColor 100%);
  background-image: linear-gradient(to right, @leftColor 0%, @rightColor 100%);
}


// EFFECTS

.transition(@arguments: all 0.2s ease) {
  -webkit-transition: @arguments;
  transition: @arguments;
}

.transform(@arguments) {
  -webkit-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}