<template name="header">
  <header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          {{#if currentUser}}
            <ul id="main-nav" class="nav navbar-nav">
              <li class="{{activeRouteClass 'colleagues'}}"><a href="{{pathFor 'colleagues'}}"><i class="fa fa-users"></i> Colleagues</a></li>
              <li class="{{activeRouteClass 'feedback'}}"><a href="{{pathFor 'feedback'}}"><i class="fa fa-refresh"></i> Feedback</a></li>
              <li class="{{activeRouteClass 'satisfaction'}}"><a href="{{pathFor 'satisfaction'}}"><i class="fa fa-smile-o"></i> Satisfaction</a></li>
              <li class="{{activeRouteClass 'slack' 'slackEdit' 'slackPage' 'slackNew' 'slackCopy' 'slackGoalNew' 'slackGoalPage' 'slackGoalEdit'}}"><a href="{{pathFor 'slack'}}"><i class="fa fa-flask"></i> Slack</a></li>
            </ul>
          {{/if}}
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              {{#if activeRouteClass 'slack' 'feedback'}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{#if selectedUserAvatar}}
                      <img class="img-circle avatar" src="{{selectedUserAvatar}}">
                    {{else}}
                      {{selectedUserFirstname}}
                    {{/if}}
                    <b class="caret"></b>
                  </a>
                  <ul id="coworkers" class="dropdown-menu">
                    {{#each users}}
                      <li>
                        <a href="#" class="coworker"><img class="img-circle avatar" src="{{avatar _id}}"> {{profile.firstname}} {{profile.lastname}}</a>
                      </li>
                    {{/each}}
                    <li class="action">
                      {{> inviteColleaguesLink}}
                    </li>
                  </ul>
                </li>
              {{/if}}
              <li id="notifications" class="dropdown">
                {{> notifications}}
              </li>
            {{/if}}
            <li>{{> loginButtons}}</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>