<template name="header">
  <header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          {{#if currentUser}}
            <ul id="main-nav" class="nav navbar-nav">
              <li class="{{activeRouteClass 'colleagues'}}"><a href="{{pathFor 'colleagues'}}"><i class="fa fa-users"></i> Colleagues</a></li>
              <li id="feedback-nav" class="{{activeRouteClass 'feedback'}}"><a href="{{pathFor 'feedback'}}"><i class="fa fa-refresh"></i> Feedback</a></li>
              <li id="satisfaction-nav" class="{{activeRouteClass 'satisfaction'}}"><a href="{{pathFor 'satisfaction'}}"><i class="fa fa-smile-o"></i> Satisfaction</a></li>
              <li class="{{activeRouteClass 'slack' 'slackUser' 'slackEdit' 'slackPage' 'slackNew' 'slackCopy' 'slackGoalNew' 'slackGoalPage' 'slackGoalEdit'}}"><a href="{{pathFor 'slack'}}"><i class="fa fa-flask"></i> Personal Development</a></li>
            </ul>
          {{/if}}
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li id="notifications" class="dropdown">
                {{> notifications}}
              </li>
              <li>
                <button id="logout" class="btn btn-default"><img class='img-circle avatar' src='{{avatar currentUser}}'> Logout</button>
              </li>
            {{else}}
              <li>
                <button id="login" class="btn btn-default">Sign in</button>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>