.login-buttons-dropdown-align-left {
  padding: 12px 15px;
}

#login-buttons .login-display-name {
	display: none;
}

.nav li .nav-text {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}