@import '../../stylesheets/variables';

.navbar-default {
  background-color: white;
}

.navbar-brand {
  margin-top: -5px;

  img {
    height: 32px;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}