<template name="colleague">
  <div class="item">
    <i class="watermark fa fa-3x fa-{{relationSymbol}} hidden-print"></i>
    <img class="img-circle main-avatar" src="{{avatar _id}}">
    <div class="details">
      <strong>{{profile.name}}</strong>
      {{#if latestActivity}}
        <div><i class="fa fa-{{latestActivityIcon}}"></i> <a href="{{latestActivityLink}}">{{latestActivity}}</a> <span data-livestamp="{{latestActivityDate}}"></span></div>
      {{/if}}
      {{#if latestFeedbackDate}}
        <div><i class="fa fa-refresh"></i> latest feedback from you <span data-livestamp="{{latestFeedbackDate}}"></span></div>
      {{/if}}
      <div class="actions">
        {{#unless self}}
          <a href="#" class="feedback"><i class="fa fa-refresh"></i> Give feedback</a>
        {{/unless}}
      </div>
    </div>
  </div>
</template>
