<template name="colleague">
  <div class="item">
    <i class="watermark fa fa-3x fa-{{relationSymbol}} hidden-print"></i>
    <img class="img-circle main-avatar" src="{{avatar _id}}">
    <div class="details">
      <strong>{{profile.name}}</strong>
      <div class="tags">
        {{#if latestFeedbackDate}}
          {{#if isNumber latestFeedbackRecommend}}<span><i class="fa fa-star"></i> {{latestFeedbackRecommend}}</span>{{/if}}
          {{#if isNumber latestFeedbackKnow}}<span><i class="fa fa-users"></i> {{latestFeedbackKnow}}</span>{{/if}}
        {{/if}}
        {{cellNames}}
      </div>
      {{#if latestFeedbackDate}}
        <div><i class="fa fa-refresh"></i> latest feedback from you <span data-livestamp="{{latestFeedbackDate}}"></span></div>
      {{/if}}
      {{#if hasOptedOutOfFeedback _id}}
        <div><i class="warn fa fa-refresh"></i> prefers not to receive feedback here</div>
      {{/if}}
      {{#if latestActivity}}
        <div><i class="fa fa-{{latestActivityIcon}}"></i> <a href="{{latestActivityLink}}">{{latestActivity}}</a> <span data-livestamp="{{latestActivityDate}}"></span></div>
      {{/if}}
      <div class="actions">
        {{#unless self}}
          {{#unless hasOptedOutOfFeedback _id}}
            <a href="#" class="feedback"><i class="fa fa-refresh"></i> Give feedback</a>
          {{/unless}}
        {{else}}
          <a href="#" class="feedback"><i class="fa fa-refresh"></i> View feedback</a>
          <a href="{{pathFor 'satisfaction'}}"><i class="fa fa-smile-o"></i> Record satisfaction</a>
        {{/unless}}
        <a href="#" class="slack"><i class="fa fa-flask"></i> View slack</a>
      </div>
    </div>
  </div>
</template>
