<template name="footer">
  <footer>
    <div id="footer">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="https://trello.com/b/sLyU8jS6/participativeorg" class="hidden-print"><i class="fa fa-trello"></i> Roadmap</a></li>
          <li><a href="https://twitter.com/participativeo" class="hidden-print"><i class="fa fa-twitter"></i> Twitter</a></li>
        </ul>
        <a id="logo" href="http://www.it-agile.de/"><img src="/img/powerByItAgile.png"></a>
      </div>
    </div>
  </footer>
</template>