<template name="layout">
  <head>
    <title>{{#if notificationCount}}({{notificationCount}}) {{/if}}participativeorg - Transparency in participative organizations</title>
    <meta name="description" content="Providing transparency amongst colleagues in a participative organization.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <div id="wrap">
    {{yield 'header'}}
    <div class="container">
      {{yield 'errors'}}
      {{yield 'status'}}
      {{yield}}
    </div>
  </div>
  {{yield 'footer'}}
</template>