<template name="feedbackAdd">
  <li class="item">
    <form id="feedback-form" role="form">
      <textarea class="form-control" id="body" placeholder="Got some feedback or suggestions?"></textarea>
      <div class="notes pull-right"><span class="long">This field</span> interprets <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a></div>
      <img class="img-circle avatar" src="{{avatar ''}}">
      <button type="submit" class="btn btn-xs btn-default">Give feedback</button>
    </form>
  </li>
</template>