<template name="feedbackEvent">
  <li class="item">
    <div>{{#markdown}}{{body}}{{/markdown}}</div>
    <div class="tags">
      <img class="img-circle avatar" src="{{avatar userId}}">
      <span data-livestamp="{{createdAt}}"></span>
      {{#if owns}}
        <a href="#" class="reply"><i class="fa fa-comment-o"></i> Reply</a>
      {{else}}
        <a href="#" class="reply"><i class="fa fa-question-circle"></i> Ask</a>
        {{#unless thanked}}
          <a href="#" class="thank"><i class="fa fa-thumbs-up"></i> Thank</a>
        {{else}}
          <span class="notes">thanked</span>
        {{/unless}}
      {{/if}}
    </div>
    <ul class="replies">
      <li class="reply">
        <form class="reply-form" role="form">
          <textarea class="form-control" id="body" placeholder="{{replyPlaceholder}}"></textarea>
          <div class="notes pull-right"><span class="long">This field</span> interprets <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a></div>
          <img class="img-circle avatar" src="{{avatar currentUser}}">
          <button type="submit" class="btn btn-xs btn-default">{{replyButtonText}}</button>
        </form>
      </li>
      {{#each replies}}
        <li class="item">
          <div>{{#markdown}}{{body}}{{/markdown}}</div>
          <div class="tags">
            <img class="img-circle avatar" src="{{avatar userId}}">
            <span data-livestamp="{{createdAt}}"></span>
          </div>
        </li>
      {{/each}}
    </ul>
  </li>
</template>