<template name="feedbackAdd">
  <form id="feedback-form" role="form">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-star"></i></span>
      <input type="number" placeholder="0-10" class="form-control" id="recommend" min="0" max="10" value="{{recommend}}">
    </div>
    <div class="notes">If {{firstnameSelectedUser}} was looking for another job, how likely is it that you recommend {{firstnameSelectedUser}} to a friend?</div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-users"></i></span>
      <input type="number" placeholder="0-10" class="form-control" id="know" min="0" max="10" value="{{know}}">
    </div>
    <div class="notes">How well do you know {{firstnameSelectedUser}}?</div>
    <textarea class="form-control" id="body" rows="6" placeholder="Remember, the purpose of your feedback isn't to make {{firstnameSelectedUser}} feel better, but to help {{firstnameSelectedUser}} do better. So, be honest, but not rude. Try to give specific suggestions and examples."></textarea>
    <div class="notes pull-right"><span class="long">This field</span> interprets <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a></div>
    <img class="img-circle avatar" src="{{avatar ''}}">
    <button type="submit" class="btn btn-xs btn-default">Give feedback</button>
  </form>
</template>