<template name="feedbackSummary">
  <h4 class="summary">
    {{#if hasNextFeedback}}
      <span class="pull-right"><a href="#" id="next-year" class="label label-white hidden-print" disabled><span class="long">{{nextYear}}</span> <i class="fa fa-step-forward"></i></a></span>
    {{/if}}
    {{#if hasPreviousFeedback}}
      <span class="pull-right"><a href="#" id="last-year" class="label label-white hidden-print"><i class="fa fa-step-backward"></i> <span class="long">{{previousYear}}</span></a></span>
    {{/if}}
  </h4>
</template>
