@import '../../stylesheets/variables';

#feedback-form {
  margin-bottom: 30px;
}

#feedback-form, .reply-form {
  .avatar {
    height: @avatar-height-sm;
    margin-top: 3px;
  }

  button {
    margin: 0;
  }
}

div.detract {
  border-left: @primary-1 3px solid;
  .watermark {
    color: @primary-bg;
  }
}

div.indifferent {
  border-left: @border-grey 3px solid;
  .watermark {
    color: @watermark-grey;
  }
}

div.promote {
  border-left: @secondary-b-1 3px solid;
  .watermark {
    color: @secondary-b-bg;
  }
}

#feedback .watermark {
  z-index: -1;
}