<template name="slackEmpty">
  <div class="alert alert-warning">
    <span>Nothing to see here yet.</span>
    {{#if selectedSelf}}
      <strong><a href="{{pathFor 'slackNew'}}" class="long">Add some slack now.</a></strong>
    {{/if}}
  </div>
  <div id="slack-motivation" class="well">
    <h4><em>Why</em> should I list my slack here?</h4>
    <ul>
      <li><strong>share</strong> your goals and lessons learned with your colleagues</li>
      <li><strong>inspire</strong> your colleagues what to do with their slack time</li>
      <li><strong>get feedback</strong> from your colleagues about your (planned) slack activities</li>
      <li><strong>make better decisions</strong> about what to do in your slack time with this feedback</li>
      <li><strong>easily keep track</strong> of what you are doing in your slack time</li>
    </ul>
  </div>
  <div id="slack-definition" class="well secondary">
    <h4><em>What</em> is slack?</h4>
    <ul>
      <li>tasks that can be <strong>instantly postponed, indefinitely</strong>.</li>
      <li>tasks that are <strong>important but not urgent</strong>.</li>
      <li><q>Slack is the way you <strong>invest in change</strong>. Slack represents operational capacity sacrificed in the interests of long-term
health.</q> – Tom DeMarco</li>
    </ul>
  </div>
  <div id="others-slack" class="message-box">
    <img id="point-right" src="/img/arrow-point-right.png">
    <div class="well">
      <div><strong>Check out other people's slack.</strong></div>
      <div>You can only see people within the</div>
      <div>same domain as your own email.</div>
      {{#if selectedSelf}}
        <div><a href="{{pathFor 'slackNew'}}">Or add your own.</a></div>
      {{/if}}
    </div>
  </div>
</template>