<template name="slackPage">
  <div id="{{_id}}" class="item {{category}}">
    <i class="watermark fa fa-3x fa-{{categorySymbol category}} hidden-print"></i>
    <b>{{title}}</b>
    <div class="tags">
      <span>{{formattedDate date}}</span>
      <span>{{category}}</span>
      <span>{{effort}} h</span>
      {{#if cost}}<span>{{cost}} €</span>{{/if}}
      <span class="rating">
        {{#times ranking}}
        <i class="fa fa-star"></i>
        {{/times}}
        {{#times rankingNeg ranking}}
        <i class="fa fa-star-o"></i>
        {{/times}}
      </span>
    </div>
    <div class="text">{{description}}</div>
    {{#if url}}
    <div><i class="fa fa-globe"></i> <a href="{{url}}" target="_blank">{{url}}</a></div>
    {{/if}}
    <div class="copies">
      {{#each copies}}
        <a href="#" class="coworker"><img class="img-circle avatar" src="{{avatar userId}}"></a>
      {{/each}}
    </div>
  </div>

  <ul id="comments" class="list">
    {{> commentAdd}}
    {{#each commentsList comments}}
      {{> comment}}
    {{/each}}
  </ul>
</template>