@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

#others-slack {
  position: absolute;
  right: 15px;
  top: 51px;

  img#point-right {
    @media @tablet {
      margin-left: 90px;
    }
    margin-left: 170px;
    margin-bottom: -20px;
    height: 60px;
  }
}

#slack-motivation {
  margin-top: 135px;
}

#slack-definition {
  color: @nav-grey;
}