<template name="slackGoal">
  <div class="goal well">
    <i class="watermark fa fa-3x fa-flag-checkered hidden-print"></i>
    <span class="description">{{description}}</span>
    <div class="actions">
      {{> likeLinks}}
      <span>
        <a href="{{pathFor 'slackGoalPage'}}"><i class="fa fa-comment-o"></i>
        {{#if comments}}
        {{commentersCount}} commented
        {{#each commenters}}
        <img class="img-circle avatar" src="{{avatar userId}}">
        {{/each}}
        {{else}}
        Comment
        {{/if}}
        </a>
      </span>
      {{#if owns}}<a href="{{pathFor 'slackGoalEdit'}}"><i class="fa fa-pencil"></i> Edit</a>{{/if}}
    </div>
  </div>
</template>