<template name="slackOverview">
  {{#if currentUser}}
    {{#if isSlackNovice}}
      {{> slackHomeAlert}}
    {{/if}}

    <input type="search" id="search-box" class="form-control" placeholder="Search slack..." autofocus>

    <h4>
      <span id="sort">
        {{#if sortAsc}}<a href="#" id="sort-asc"><i class="fa fa-sort-amount-asc" title="sort"></i></a>{{/if}}
        {{#if sortDesc}}<a href="#" id="sort-desc"><i class="fa fa-sort-amount-desc" title="sort"></i></a>{{/if}}
        <a href="#" id="sort-date" class="label label-default"><i class="fa fa-calendar"></i></a>
        <a href="#" id="sort-cost" class="label label-default">€</a>
        <a href="#" id="sort-effort" class="label label-default">h</a>
        <a href="#" id="sort-ranking" class="label label-default"><i class="fa fa-star"></i></a>
      </span>
      <span>|</span>
      <span id="filter">
        <i class="fa fa-filter" title="filter"></i>
        <a href="#" id="filter-attend" class="label label-default"><i class="fa fa-users"></i></a>
        <a href="#" id="filter-read" class="label label-default"><i class="fa fa-book"></i></a>
        <a href="#" id="filter-other" class="label label-default"><i class="fa fa-question-circle"></i></a>
      </span>
    </h4>

  {{/if}}

  <div id="slack" class="list">
    {{#each slackEvents}}
      {{> slackEvent}}
    {{/each}}
  </div>

  {{#if isSlackNovice}}
    {{> slackMotivation}}
  {{/if}}
</template>