<template name="slackEdit">
  <form role="form">
    {{#if indicatedBy}}
    <div class="alert alert-warning">
      <img class="img-circle avatar" src="{{avatar indicatedBy}}"> {{name indicatedBy}} indicated that you took part in this as well.
    </div>
    {{/if}}
    <input type="text" class="form-control" id="title" value="{{title}}" placeholder="My latest slack" required autofocus>
    <textarea rows="3" class="form-control" id="description" placeholder="What I am expecting to learn / have learned and might be interesting to my colleagues...">{{description}}</textarea>
    <div class="btn-group btn-group-justified" id="category" data-toggle="buttons">
      <label class="btn btn-default {{isActiveCategory 'book'}}">
        <input type="radio" name="options" value="book"><i class="fa fa-book"></i> book
      </label>
      <label class="btn btn-default {{isActiveCategory 'event'}}">
        <input type="radio" name="options" value="event"><i class="fa fa-users"></i> event
      </label>
      <label class="btn btn-default {{isActiveCategory 'other'}}">
        <input type="radio" name="options" value="other"><i class="fa fa-question-circle"></i> other
      </label>
    </div>
    <input type="date" class="form-control" id="date" value="{{rfcDate date}}" required>
    <div class="input-group">
      <input type="number" min="1" placeholder="it took me" class="form-control" id="effort" value="{{effort}}" required>
      <span class="input-group-addon">h</span>
    </div>
    <div class="input-group">
      <input type="number" min="0" placeholder="it cost" class="form-control" id="cost" value="{{cost}}" required>
      <span class="input-group-addon">€</span>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-globe"></i></span>
      <input type="url" placeholder="url" class="form-control" id="url" value="{{url}}">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-star"></i></span>
      <input type="number" placeholder="ranking 0-5" class="form-control" id="ranking" min="0" max="5" value="{{ranking}}">
    </div>
    <div class="copies">
      {{#if userId}}
      <img class="img-circle avatar" src="{{avatar userId}}">
      {{/if}}
      {{#each copies}}
      <img class="img-circle avatar" src="{{avatar userId}}">
      {{/each}}
      {{#if hasUsersNotAlreadyPartOf}}
      <span class="dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-plus"></i> Add colleagues <span class="caret"></span>
      </button>
      <ul id="coworkers" class="dropdown-menu dropdown-menu-form">
        {{#each users}}
        <li>
          <label class="checkbox"><input type="checkbox" data-participant="{{_id}}"><img class="img-circle avatar" src="{{avatar _id}}"> <span>{{profile.name}}</span></label>
        </li>
        {{/each}}
      </ul>
      </span>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-default">{{submitText}}</button>
    <a class="btn btn-default" href="/slack">Cancel</a>
    {{#if _id}}<a class="btn btn-danger delete" href="#"><i class="fa fa-trash-o"></i> Delete</a>{{/if}}
  </form>
</template>