<template name="slackEmpty">
  <div class="alert alert-warning">
    <span>Nothing to see here yet.</span>
    {{#if selectedSelf}}
      <strong><a href="{{pathFor 'slackNew'}}" class="long">Add some slack now.</a></strong>
    {{/if}}
  </div>
  <div id="slack-definition" class="well">
    <h4>Slack <em>/slæk/</em></h4>
    <strong>noun</strong>
    <ol>
      <li>Tasks that can be instantly postponed, indefinitely.</li>
      <li>Tasks that are important but not urgent.</li>
      <li><q>Slack is the way you invest in change. Slack represents operational capacity sacrificed in the interests of long-term
health.</q> – Tom DeMarco</li>
    </ol>
  </div>
  <div id="slack-motivation" class="well">
    <h4><em>Why</em> should I list my slack here?</h4>
    <ul>
      <li>easily keep track of what you are doing in your slack time</li>
      <li>share your goals and lessons learned with your colleagues</li>
      <li>get feedback from your colleagues about your (planned) slack activities</li>
      <li>make better decisions about what to do in your slack time with this feedback</li>
      <li>inspire your colleagues what to do with their slack time</li>
    </ul>
  </div>
  <div id="others-slack" class="message-box">
    <img id="point-left" src="/img/arrow-point-left.png">
    <img id="point-right" src="/img/arrow-point-right.png">
    <div class="well">
      <div><strong>Check out other people's slack.</strong></div>
      <div>You can only see people within the</div>
      <div>same domain as your own email.</div>
      {{#if selectedSelf}}
      <div><a href="{{pathFor 'slackNew'}}">Or add your own.</a></div>
      {{/if}}
    </div>
  </div>
</template>