<template name="slackTags">
  <div class="tags">
    <span>{{formattedDate date}}</span>
    <span>{{category}}</span>
    {{#if hashtagSymbol}}<span><i class="fa fa-{{hashtagSymbol}}"></i></span>{{/if}}
    <span class="{{highlightEffort}}">{{effort}} h</span>
    {{#if cost}}<span class="{{highlightCost}}">{{cost}} €</span>{{/if}}
    <span class="rating {{highlightRanking}}">
      {{#each rankingList}}
        <i class="fa fa-star"></i>
      {{/each}}
      {{#each rankingNegList}}
        <i class="fa fa-star-o"></i>
      {{/each}}
    </span>
  </div>
</template>