<template name="slackEvent">
  <div id="{{_id}}" class="item {{category}}">
    <i class="watermark fa fa-3x fa-{{categorySymbol category}}"></i>
    <b><a href="{{pathFor 'slackPage'}}">{{title}}</a></b>
    <div class="tags">
      <span>{{formattedDate date}}</span>
      <span>{{category}}</span>
      <span class="{{highlightEffort}}">{{effort}} h</span>
      {{#if cost}}<span class="{{highlightCost}}">{{cost}} €</span>{{/if}}
      <span class="rating {{highlightRanking}}">
        {{#times ranking}}
        <i class="fa fa-star"></i>
        {{/times}}
        {{#times rankingNeg}}
        <i class="fa fa-star-o"></i>
        {{/times}}
      </span>
    </div>
    <div class="preview">{{preview description}}</div>
    <div class="details">
      <div class="text">{{description}}</div>
      {{#if url}}
      <div><i class="fa fa-globe"></i> <a href="{{url}}" target="_blank">{{url}}</a></div>
      {{/if}}
      {{#if ownSlack}}<a href="{{pathFor 'slackEdit'}}"><i class="fa fa-pencil"></i> Edit</a>{{/if}}
    </div>
  </div>
</template>
