<template name="slackMotivation">
  <div id="slack-motivation" class="well">
    <h4><em>Why</em> should I list my personal development here?</h4>
    <ul>
      <li><strong>share</strong> your goals and lessons learned with your colleagues</li>
      <li><strong>inspire</strong> your colleagues what to do with their personal development budget</li>
      <li><strong>get feedback</strong> from your colleagues about your (planned) personal development activities</li>
      <li><strong>make better decisions</strong> about what to do with your personal development budget based on this feedback</li>
      <li><strong>easily keep track</strong> of what you are doing with your personal development budget</li>
    </ul>
  </div>
</template>