<template name="slackEdit">
  <form role="form">
    {{#if indicatedBy}}
      <div class="alert alert-warning">
        <img class="img-circle avatar" src="{{avatar indicatedBy}}"> {{name indicatedBy}} indicated that you took part in this as well. This is your <strong>personal copy</strong>. You can edit or even delete it. It won't affect other people's slack.
      </div>
    {{/if}}
    <input type="text" class="form-control" id="title" value="{{title}}" placeholder="My latest slack" required autofocus>
    <textarea rows="3" class="form-control" id="description" placeholder="What I am expecting to learn / have learned and might be interesting to my colleagues...">{{description}}</textarea>
    {{> markdownNote}}
    <div class="btn-group btn-group-justified" id="category" data-toggle="buttons">
      <label class="btn btn-default {{isActiveCategory 'read'}}">
        <input type="radio" name="options" value="read"><i class="fa fa-book"></i> read
      </label>
      <label class="btn btn-default {{isActiveCategory 'attend'}}">
        <input type="radio" name="options" value="attend"><i class="fa fa-users"></i> attend
      </label>
      <label class="btn btn-default {{isActiveCategory 'other'}}">
        <input type="radio" name="options" value="other"><i class="fa fa-question-circle"></i> other
      </label>
    </div>
    <input type="date" class="form-control" id="date" value="{{rfcDate date}}" required>
    <div class="input-group">
      <span class="input-group-addon">h</span>
      <input type="number" min="1" placeholder="it took me" class="form-control" id="effort" value="{{effort}}" required>
      <span class="input-group-btn">
        <button id="toggle-effort-sum" class="btn btn-default inline {{isEffortIgnored}}" type="button">ignore <span class="long">in sum</span></button>
      </span>
    </div>
    <div class="input-group">
      <span class="input-group-addon">€</span>
      <input type="number" min="0" placeholder="it cost" class="form-control" id="cost" value="{{cost}}" required>
      <span class="input-group-btn">
        <button id="toggle-cost-sum" class="btn btn-default inline {{isCostIgnored}}" type="button">ignore <span class="long">in sum</span></button>
      </span>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-globe"></i></span>
      <input type="url" placeholder="url" class="form-control" id="url" value="{{url}}">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-star"></i></span>
      <input type="number" placeholder="ranking 0-5" class="form-control" id="ranking" min="0" max="5" value="{{ranking}}">
    </div>
    <div class="copies">
      {{#if userId}}
        <img class="img-circle avatar" src="{{avatar userId}}">
      {{/if}}
      {{#each copies}}
        <img class="img-circle avatar" src="{{avatar userId}}">
      {{/each}}
      {{#if hasUsersNotAlreadyPartOf}}
        <span class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-plus"></i> Add colleagues <span class="caret"></span>
        </button>
        <ul id="coworkers" class="dropdown-menu dropdown-menu-form">
          {{#each users}}
            <li>
              <label class="checkbox"><input type="checkbox" data-participant="{{_id}}"><img class="img-circle avatar" src="{{avatar _id}}"> <span>{{profile.name}}</span></label>
            </li>
          {{/each}}
        </ul>
        </span>
      {{/if}}
      {{#if hasCopies}}
        <div class="notes">This is your personal copy of this slack activity. You can edit or even delete it. It won't affect other people's slack.</div>
      {{/if}}
    </div>
    {{> editButtons}}
  </form>
</template>