<template name="slackSummary">
  <h4 class="summary">
    <a href="#" id="year" class="label label-default">{{year}}</a>
    <a href="#" id="total-cost" class="label label-default">{{totalCost}} €</a>
    <a href="#" id="total-effort" class="label label-default">{{totalEffort}} h</a>
    <span class="pull-right"><a href="{{urlFor 'slack'}}/?year={{year}}&userId={{userId}}" id="permalink" class="label label-white secondary-action hidden-print" disabled><i class="fa fa-link"></i></a></span>
    {{#if hasNextSlack}}
      <span class="pull-right"><a href="#" id="next-year" class="label label-white hidden-print" disabled><span class="long">{{nextYear}}</span> <i class="fa fa-step-forward"></i></a></span>
    {{/if}}
    {{#if hasPreviousSlack}}
      <span class="pull-right"><a href="#" id="last-year" class="label label-white hidden-print"><i class="fa fa-step-backward"></i> <span class="long">{{previousYear}}</span></a></span>
    {{/if}}
    {{#if isComplete}}
      {{#if selectedSelf}}
        <span class="pull-right"><a href="#" id="{{completionId}}" class="label label-white uncomplete-year"><i class="fa fa-check"></i> <span class="long">completed</span></a></span>
      {{else}}
        <span class="pull-right"><span id="complete-sign" class="label label-white"><i class="fa fa-check"></i> <span class="long">completed</span></span></span>
      {{/if}}
    {{else}}
      {{#if selectedSelf}}
        <span class="pull-right"><a href="#" id="complete-year" class="label label-white secondary-action hidden-print"><i class="fa fa-check"></i></a></span>
        <span class="pull-right"><a class="label label-primary hidden-print" href="{{pathFor 'slackNew'}}"><i class="fa fa-plus"></i> <span class="long">Add slack</span></a></span>
      {{/if}}
    {{/if}}
  </h4>
</template>
