<template name="slackPage">
  <div id="{{_id}}" class="item {{category}}">
    <i class="watermark fa fa-3x fa-{{categorySymbol}} hidden-print"></i>
    <b>{{title}}</b>
    {{> slackTags}}
    <div>{{#markdown}}{{description}}{{/markdown}}</div>
    {{#if url}}
      <div><i class="fa fa-globe"></i> <a href="{{url}}" target="_blank">{{url}}</a></div>
    {{/if}}
    <div class="copies">
      {{#each copies}}
        <a href="#" class="coworker"><img class="img-circle avatar" src="{{avatar userId}}"></a>
      {{/each}}
    </div>
    <div class="actions">
      {{> likeLinks}}
      {{#if owns}}
        <a href="{{pathFor 'slackEdit'}}"><i class="fa fa-pencil"></i> Edit</a>
      {{else}}
        {{#if notPartOfYet}}<a href="{{pathFor 'slackCopy'}}"><i class="fa fa-copy"></i> Copy to my slack</a>{{/if}}
      {{/if}}
    </div>
  </div>

  <ul id="comments" class="list">
    {{> commentAdd}}
    {{#each commentsList}}
      {{> comment}}
    {{/each}}
  </ul>
</template>