@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

.summary span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  white-space: pre-wrap;
}

.book {
  border-left: @primary-1 3px solid;
  .watermark {
    color: @primary-bg;
  }
}

.event {
  border-left: @secondary-a-1 3px solid;
  .watermark {
    color: @secondary-a-bg;
  }
}

.other {
  border-left: @secondary-b-1 3px solid;
  .watermark {
    color: @secondary-b-bg;
  }
}

.watermark {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 39px;
}

.rating {
  white-space: nowrap;
  i.fa-star {
    margin-right: -3px;
  }
}

.highlight {
  background-color: rgba(255, 255, 0, 0.75);
}