<template name="slack">
  {{#if currentUser}}
    {{#if isSlackNovice}}
      {{> slackHomeAlert}}
    {{/if}}

    <div id="owner">
      {{> colleague}}
    </div>

    {{#if hasSlackEvents}}
      {{#if hasGoals}}
        {{#each goals}}
          {{> slackGoal}}
        {{/each}}
      {{else}}
        {{> slackGoalAdd}}
      {{/if}}
      {{> slackSummary}}
    {{else}}
      {{> slackEmpty}}
    {{/if}}

  {{/if}}

  <div id="slack" class="list user">
    {{#each slackEvents}}
      {{> slackEvent}}
    {{/each}}
  </div>

  {{#if isSlackNovice}}
    {{> slackMotivation}}
  {{/if}}
</template>