@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

#othersSlack {
  float: right;
  font-weight: bold;

  img#point-left {
    @media @phone {
      display: none;
    }
    margin-left: 60px;
    margin-bottom: -10px;
  }

  img#point-right {
    @media @tablet {
      display: none;
    }
    margin-left: 150px;
    margin-bottom: -10px;
  }

  .well {
    background-color: #EBB950;
  }
}