<template name="slackEvent">
  <div id="{{_id}}" class="item {{category}} {{unconfirmed}}">
    <a href="#" id="link_{{_id}}" class="background-link"></a>
    <i class="watermark fa fa-3x fa-{{categorySymbol}} hidden-print"></i>
    <!-- <b><a href="{{pathFor 'slackPage'}}">{{title}}</a></b> -->
    <b>{{title}}</b>
    <div class="tags">
      <span>{{formattedDate date}}</span>
      <span>{{category}}</span>
      {{#if hashtagSymbol}}<span><i class="fa fa-{{hashtagSymbol}}"></i></span>{{/if}}
      <span class="{{highlightEffort}}">{{effort}} h</span>
      {{#if cost}}<span class="{{highlightCost}}">{{cost}} €</span>{{/if}}
      <span class="rating {{highlightRanking}}">
        {{#times ranking}}
        <i class="fa fa-star"></i>
        {{/times}}
        {{#times rankingNeg}}
        <i class="fa fa-star-o"></i>
        {{/times}}
      </span>
    </div>
    <div class="preview">{{preview description}}</div>
    <div class="details">
      <div class="text">{{description}}</div>
      {{#if url}}
      <div><i class="fa fa-globe"></i> <a href="{{url}}" target="_blank">{{url}}</a></div>
      {{/if}}
      <div class="copies">
        {{#each copies}}
          <a href="#" class="coworker"><img class="img-circle avatar" src="{{avatar userId}}"></a>
        {{/each}}
      </div>
      {{#if ownSlack}}
      <a href="{{pathFor 'slackEdit'}}"><i class="fa fa-pencil"></i> Edit</a>
      {{else}}
        {{#if notPartYet}}<a href="{{pathFor 'slackCopy'}}"><i class="fa fa-copy"></i> Copy to my slack</a>{{/if}}
      {{/if}}
    </div>
  </div>
</template>
