<template name="slackOverview">
  {{#if currentUser}}
    {{#if isSlackNovice}}
      {{> slackMotivation}}
      <div id="explanation-note" class="secondary">These explanations will move to the bottom of the page once you add 4 personal development activities of your own.</div>
    {{/if}}


    <input type="search" id="search-box" class="form-control" placeholder="Search personal development..." autofocus>

    <h4>
      <span id="sort">
        {{#if sortAsc}}<a href="#" id="sort-asc"><i class="fa fa-sort-amount-asc" title="sort"></i></a>{{/if}}
        {{#if sortDesc}}<a href="#" id="sort-desc"><i class="fa fa-sort-amount-desc" title="sort"></i></a>{{/if}}
        <a href="#" id="sort-date" class="label label-default" title="sort by date"><i class="fa fa-calendar"></i></a>
        <a href="#" id="sort-cost" class="label label-default" title="sort by cost">€</a>
        <a href="#" id="sort-effort" class="label label-default" title="sort by effort">h</a>
        <a href="#" id="sort-ranking" class="label label-default" title="sort by ranking"><i class="fa fa-star"></i></a>
      </span>
      <span>|</span>
      <span id="filter">
        <i class="fa fa-filter" title="filter"></i>
        <a href="#" id="filter-attend" class="label label-default" title="filter by 'attend'"><i class="fa fa-users"></i></a>
        <a href="#" id="filter-read" class="label label-default" title="filter by 'read'"><i class="fa fa-book"></i></a>
        <a href="#" id="filter-other" class="label label-default" title="filter by 'other'"><i class="fa fa-question-circle"></i></a>
      </span>
      {{#if isLoading}}<span>{{> spinner}}</span>{{/if}}
      <span class="pull-right">
        <a class="label label-primary hidden-print" href="{{pathFor 'slackNew'}}"><i class="fa fa-plus"></i> <span class="long">Add activity</span></a>
      </span>
    </h4>

  {{/if}}

  <div id="slack" class="list">
    {{#each slackEvents}}
      {{> slackEvent}}
    {{/each}}
  </div>

  {{#unless isSlackNovice}}
    {{> slackMotivation}}
  {{/unless}}
</template>