<template name="login">
  <div id="login-buttons">
    <button id="google-login-button" class="btn btn-default btn-main"><img src="/img/google-icon.jpg"> Sign in with Google</button>
  </div>
    
  <!-- <div class="or">
    <span class="hline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="or-text">or</span>
    <span class="hline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
        
  <div class="login-form login-password-form">
    <form id="login-form" action="action">
      <div>
        <input type="email" id="login-email" class="form-control" placeholder="work email" />
        <input type="password" id="login-password" class="form-control" placeholder="password" />
        <button type="submit" id="login-button" class="btn btn-default">Sign in</button>
     </div>
   </form>

    <div class="additional-link-container">
      <a href="{{pathFor 'register'}}" class="additional-link">Create account</a>
      <a href="{{pathFor 'recovery'}}" class="additional-link">Forgot password</a>
    </div>
  </div> -->
</template>