<template name="profile">
  <form id="settings-form" role="form">
    <div class="input-group">
      <input type="text" placeholder="Avatar URL" class="form-control" id="avatar" value="{{profile.avatar}}">
      <span class="input-group-addon avatar-addon"><img id="avatar-img" class="img-circle avatar" src="{{profile.avatar}}"></span>
    </div>
    <input type="text" placeholder="Firstname" class="form-control" id="firstname" value="{{profile.firstname}}">
    <input type="text" placeholder="Lastname" class="form-control" id="lastname" value="{{profile.lastname}}">
    <button type="submit" class="btn btn-xs btn-default">Save</button>
  </form>
</template>