<template name="profile">
  <form id="settings-form" role="form">
    <div class="input-group">
      <input type="text" placeholder="Avatar URL" class="form-control" id="avatar" value="{{profile.avatar}}">
      <span class="input-group-addon avatar-addon"><img id="avatar-img" class="img-circle avatar" src="{{profile.avatar}}"></span>
    </div>
    <div class="notes">Just point this to any image online like your <a href="http://gravatar.com" target="_blank">Gravatar</a>.</div>
    <input type="text" placeholder="Firstname" class="form-control" id="firstname" value="{{profile.firstname}}">
    <input type="text" placeholder="Lastname" class="form-control" id="lastname" value="{{profile.lastname}}">
    <div class="input-group">
      <label>
        <input type="checkbox" id="wantsEmailNotifications" checked="{{profile.wantsEmailNotifications}}">
        Receive email notifications
      </label>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-default">Save</button>
      <a class="btn btn-default pull-right" href="/colleagues">Cancel</a>
    </div>
  </form>
</template>